SPRING_MAIL_HOST=XXXXXXXXX
SPRING_MAIL_PORT=XXXXXXXXX
SPRING_MAIL_USERNAME=XXXXXXXXX
SPRING_MAIL_PASSWORD=XXXXXXXXXX
POSTGRES_USER=XXXXXXXXX
POSTGRES_PASSWORD=XXXXXXXXX
POSTGRES_DB=XXXXXXXXX
DATABASE_URL=XXXXXXXXX
REDIS_HOST=XXXXXXXXX
REDIS_PORT=XXXXXXXXX
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
